In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver=webdriver.Edge("msedgedriver.exe")

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [5]:
search_job.send_keys("Data Scientist")

In [6]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [7]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn

In [8]:
search_btn.click()

In [31]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[:1]

In [32]:
title_=[]
for i in title:
    title_.append(i.text)
title_[:1]

['Senior Data Scientist / Lead (Predictive Analytics)']

In [33]:
company_name_=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [34]:
company_name=[]
for i in company_name_:
    company_name.append(i.text)

In [35]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [36]:
exp_=[]
for i in exp:
    exp_.append(i.text)
exp_[:1]

['7-10 Yrs']

In [37]:
loc_=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
loc_[:1]

In [39]:
loc=[]
for i in loc_:
    loc.append(i.text)
loc[:1]

['Chennai']

In [40]:
print(len(exp),len(exp),len(company_name),len(title_))

20 20 20 20

In [41]:
Ds=pd.DataFrame({'Title':title_[:20],"Company Name":company_name[:20],"Experiance":exp_[:20],"Job Location":loc[:20]})
Ds

,Title,Company Name,Experiance,Job Location
0,Senior Data Scientist / Lead (Predictive Analy...,AVE-Promagne,7-10 Yrs,Chennai
1,Sr Data Scientist ( From Service Industry ),AVE-Promagne,6-11 Yrs,Chennai
2,Associate Data Scientist - Process Mining,Shell India Markets Private Limited,3-8 Yrs,Chennai
3,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
4,Senior Data Scientist with Python,Next Bee Corporation,6-10 Yrs,"Kolkata, Chandigarh, Hyderabad/Secunderabad, P..."
5,Data Scientist - Process mining,Shell India Markets Private Limited,5-8 Yrs,Chennai
6,Data analytics / Data scientist intern (work f...,TalkValley LLC,0-5 Yrs,"Kolkata, Bangalore/Bengaluru, Delhi / NCR"
7,"Data Scientist (Predictive Modelling,Python)",AVE-Promagne,6-8 Yrs,Chennai
8,Data Scientist (Predictive Analytics),AVE-Promagne,2-4 Yrs,Chennai
9,Data Scientist,IntellectFaces Technology Solutions Pvt Ltd,0-5 Yrs,Chennai
10,Data Science- Associate Data Scientist,Jet2 Travel Technologies Pvt. Ltd.,0-2 Yrs,Pune
11,Associate Data Scientist,AlgoAnalytics Private Ltd.,0-1 Yrs,Pune(Baner)
12,Senior Data Scientist,RedBus,5-8 Yrs,Bangalore/Bengaluru
13,Immediate job opening - Senior Data Scientist,RedBus,5-8 Yrs,Bangalore/Bengaluru
14,Senior Data Scientist,Fractal Analytics,5-9 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"
15,Senior Data Scientist,Neptune Financial Software Private Ltd,3-5 Yrs,Chennai
16,Lead Data Scientist,FICO,6-11 Yrs,Bangalore/Bengaluru
17,Lead Data Scientist,Fractal Analytics,10-15 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
18,Data Scientist - Manufacturing Domain (SCM asp...,Naukri Premium - Employer Services,7-12 Yrs,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D..."
19,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs,New Delhi

Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

Already scraped the Job Title, Location, Company Name in this going to scrape only Job description

desc_url=[]
desc_url_=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in desc_url_:
    desc_url.append(i.get_attribute("href"))
desc_url

In [42]:
desc_url=[]
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    desc_url.append(i.get_attribute("href"))

In [43]:
desc_url[:1]

['https://www.naukri.com/job-listings-senior-data-scientist-lead-predictive-analytics-ave-promagne-chennai-7-to-10-years-140621900598?src=jobsearchDesk&sid=1623980145101472&xp=1&px=1']

In [44]:
job_desc=[]

for i in desc_url[:20]:
    driver.get(i)
    time.sleep(3)
    try:
        job_desc_=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_desc.append(job_desc_.text)
    except NoSuchElementException:
        job_desc.append("--")

In [45]:
job_desc[:1]

['Job description\nKey Requirements\nBe responsible for scaling our analytics capability across all internal disciplines and guide our strategic direction in regards to analytics\nOrganize and analyze large, diverse data sets across multiple platforms\nIdentify key insights and leverage them to inform and influence product strategy\nTechnical Interactions with vendor or partners in technical capacity for scope/ approach & deliverables.\nDevelops proof of concept to prove or disprove validity of concept\nWorking with all parts of the business to identify analytical requirements and formalize an approach for reliable, relevant, accurate, efficient reporting on those requirements\nDesigning and implementing advanced statistical testing for customized problem solving\nDeliver concise verbal and written explanations of analyses to senior management that elevate findings into strategic recommendations.\nKey Requirements\nExperience with any industry with HR analytical projects / Experience with Credit Risk Analytics\n4 years experience\nSQL expertise, Strong in Python / R expertise, Strong in ML algorithms\n\nRoleAnalytics Manager\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nDoctorate :Doctorate Not Required\nKey Skills\nProduct StrategyRAlgorithmsRisk AnalyticsProblem SolvingCredit RiskSenior ManagementPredictive AnalyticsSQLPython']

In [46]:
Dst=pd.DataFrame({'Title':title_[:20],"Company Name":company_name[:20],"Experiance":exp_[:20],"Job Location":loc[:20],"Job Description":job_desc[:20]})
Dst

,Title,Company Name,Experiance,Job Location,Job Description
0,Senior Data Scientist / Lead (Predictive Analy...,AVE-Promagne,7-10 Yrs,Chennai,Job description\nKey Requirements\nBe responsi...
1,Sr Data Scientist ( From Service Industry ),AVE-Promagne,6-11 Yrs,Chennai,Job description\nAbout the role:\nWe are looki...
2,Associate Data Scientist - Process Mining,Shell India Markets Private Limited,3-8 Yrs,Chennai,Job description\nGeneral Position Definition\n...
3,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Job description\nJob Role : Data Scientist/Dat...
4,Senior Data Scientist with Python,Next Bee Corporation,6-10 Yrs,"Kolkata, Chandigarh, Hyderabad/Secunderabad, P...",Job description\nRoles and Responsibilities:-\...
5,Data Scientist - Process mining,Shell India Markets Private Limited,5-8 Yrs,Chennai,Job description\nThe Role\nGeneral Position De...
6,Data analytics / Data scientist intern (work f...,TalkValley LLC,0-5 Yrs,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",Job description\nWe are a group of tenured pro...
7,"Data Scientist (Predictive Modelling,Python)",AVE-Promagne,6-8 Yrs,Chennai,Job description\nResponsibilities:\n• Build an...
8,Data Scientist (Predictive Analytics),AVE-Promagne,2-4 Yrs,Chennai,Job description\nModeling Skills\n• Deep exper...
9,Data Scientist,IntellectFaces Technology Solutions Pvt Ltd,0-5 Yrs,Chennai,Job description\nPython/R (programming languag...
10,Data Science- Associate Data Scientist,Jet2 Travel Technologies Pvt. Ltd.,0-2 Yrs,Pune,Job description\nRoles and Responsibilities\nW...
11,Associate Data Scientist,AlgoAnalytics Private Ltd.,0-1 Yrs,Pune(Baner),Job description\nShould have a passion for ML ...
12,Senior Data Scientist,RedBus,5-8 Yrs,Bangalore/Bengaluru,--
13,Immediate job opening - Senior Data Scientist,RedBus,5-8 Yrs,Bangalore/Bengaluru,--
14,Senior Data Scientist,Fractal Analytics,5-9 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Job description\nServe as primary technical le...
15,Senior Data Scientist,Neptune Financial Software Private Ltd,3-5 Yrs,Chennai,Job description\nRoles and Responsibilities\n\...
16,Lead Data Scientist,FICO,6-11 Yrs,Bangalore/Bengaluru,Job description\nJob Summary\nThe candidate sh...
17,Lead Data Scientist,Fractal Analytics,10-15 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Job description\nPosition Description:\nThe Ar...
18,Data Scientist - Manufacturing Domain (SCM asp...,Naukri Premium - Employer Services,7-12 Yrs,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",Job description\nRoles and Responsibilities\nR...
19,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs,New Delhi,"Job description\nDescription - ""In god we trus..."

Q3: In this question you have to scrape data using the filters available on the
webpage as shown below

In [47]:
driver=webdriver.Edge("msedgedriver.exe")

In [48]:
url='https://www.naukri.com/'
driver.get(url)

In [49]:
ds_job_title=[]
ds_company_name=[]
ds_location=[]
ds_experience=[]
ds_salary=[]

In [50]:
search_job_=driver.find_element_by_id("qsb-keyword-sugg")
search_job_

In [51]:
search_job_.send_keys("Data Scientist")

In [52]:
btn_click_=driver.find_element_by_xpath('//button[@class="btn"]')
btn_click_.click()

In [55]:
delhi_ser=driver.find_element_by_xpath('//span[@title="Delhi / NCR"]')
delhi_ser.click()

In [56]:
sal_fil=driver.find_element_by_xpath('//span[@title="3-6 Lakhs"]')
sal_fil.click()

In [60]:
job_title_=job_titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [71]:
for i in job_title_:
    ds_job_title.append(i.text)
ds_job_title[:1]

['Data Scientist / Data Analyst -Business Analyst']

In [62]:
company_name_=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [77]:
 for i in company_name_:
        ds_company_name.append(i.text)

In [79]:
location_=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_:
    ds_location.append(i.text)

In [73]:
ds_experience_=[]
experience_=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_:
    ds_experience_.append(i.text)

In [74]:
salary_=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
for i in salary_:
        ds_salary.append(i.text)

In [80]:
print(len(ds_job_title),len(ds_company_name),len(ds_location),len(ds_experience_),len(ds_salary))

40 20 20 20 20

In [81]:
ds3=pd.DataFrame({"Job Title":ds_job_title[:20],"Company Name":ds_company_name[:20],"Location":ds_location,"Experiance":ds_experience_,"Salary":ds_salary})

In [82]:
ds3

,Job Title,Company Name,Location,Experiance,Salary
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs,"3,50,000 - 4,50,000 PA."
1,Data analytics / Data scientist intern (work f...,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",0-5 Yrs,"2,00,000 - 3,00,000 PA."
2,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),New Delhi,0-5 Yrs,Not disclosed
3,Data Scientist,Fractal Analytics,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs,Not disclosed
4,Junior Data Scientist,R Systems International Ltd.,Noida(Sector-59 Noida),3-5 Yrs,Not disclosed
5,We are hiring- Data Scientist +Python- Noida,RANDSTAD INDIA PVT LTD,"Noida, Gurgaon/Gurugram, Delhi / NCR",4-7 Yrs,Not disclosed
6,Data Scientist,Milliman India Pvt Ltd,"Gurgaon/Gurugram, Delhi / NCR",2-5 Yrs,Not disclosed
7,Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,Noida,3-8 Yrs,Not disclosed
8,"Data Analyst/Scientist Big Data, Statistical T...",The Search House (A Div of JSD Search House Pv...,Gurgaon/Gurugram,2-7 Yrs,"5,00,000 - 8,00,000 PA."
9,Business Analyst- Data Scientist,Wipro,"Noida, Gurgaon/Gurugram",2-5 Yrs,"3,50,000 - 6,50,000 PA."
10,Data Engineers /Data Scientist - CES IT LTD - ...,CES Ltd.,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",3-5 Yrs,Not disclosed
11,Data Engineers /Data Scientist - CES IT LTD - ...,CES Ltd.,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",3-5 Yrs,Not disclosed
12,Data Scientist,Evalueserve.com Pvt. Ltd,Gurgaon/Gurugram,4-7 Yrs,Not disclosed
13,Senior Data Scientist,iNICU,Delhi,1-5 Yrs,Not disclosed
14,Data Scientist,BlackBuck,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs,Not disclosed
15,Data Scientist,Country Veggie,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",1-3 Yrs,Not disclosed
16,Data Scientist,Mahajan Imaging,New Delhi,2-6 Yrs,Not disclosed
17,Data Scientist,Mahajan Imaging,Delhi,2-6 Yrs,Not disclosed
18,Associate Data Scientist,Right Step Consulting,Noida,3-6 Yrs,Not disclosed
19,Associate Data Scientist,Blow Trumpet Solutions,New Delhi,1-5 Yrs,Not disclosed

Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.

In [98]:
driver=webdriver.Edge("msedgedriver.exe")

In [99]:
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [100]:
g_search=driver.find_element_by_xpath('//button[@class="d-flex align-items-center justify-content-center order-1 order-md-2 mr-auto mr-md-0 p-0 LockedHomeHeaderStyles__signInButton"]')
g_search.click()

In [101]:
driver.find_element_by_xpath('//input[@id="userEmail"]').send_keys('my.number.is.9094419010@gmail.com')

In [102]:
driver.find_element_by_xpath('//input[@id="userPassword"]').send_keys('Jordan@123')

In [103]:
click_=driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]')
click_.click()

In [104]:
driver.find_element_by_xpath('//input[@class="keyword"]').send_keys('Data Scientist')

In [105]:
driver.find_element_by_xpath('//input[@class="loc"]').send_keys('Noida (India)')

In [106]:
driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]').click()

In [111]:
j_title_=driver.find_elements_by_xpath('//div[@class="col-12 col-lg px-xsm"]')
j_title_[:1]

In [112]:
j_title=[]
for i in j_title_:
    j_title.append(i.text.replace("- Monthly",""))

In [113]:
j_company_=driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')

In [114]:
j_company=[]
for i in j_company_:
    j_company.append(i.text)
j_company[:1]

['Tata Consultancy Services']

In [115]:
j_salary_=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]')

In [116]:
j_salary=[]
for i in j_salary_:
    j_salary.append(i.text.replace("\n",""))
j_salary[:1]

['₹6,15,289 /yr']

In [118]:
j_review_=driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')

In [119]:
j_review=[]
for i in j_review_:
    j_review.append(i.text)
j_review[:1]

['3.9']

# Since I couldn't find "No. of days ago when job was posted" in the Glass door  page I have not scraped that one

In [120]:
print(len(j_title),len(j_company),len(j_salary),len(j_review))

20 20 20 20

In [121]:
j_glassdoor=pd.DataFrame({"Company Name":j_company,"Job Title":j_title[:20],"Salary":j_salary,"Review":j_review})

In [122]:
j_glassdoor

                      Company Name        Job Title          Salary Review
0        Tata Consultancy Services   Data Scientist   ₹6,15,289 /yr    3.9
1                              IBM   Data Scientist   ₹9,00,000 /yr    3.9
2                        Accenture   Data Scientist  ₹11,48,366 /yr      4
3               Ericsson-Worldwide   Data Scientist   ₹x,xx,xxx /yr      4
4                        Delhivery   Data Scientist  ₹xx,xx,xxx /yr    3.8
5               UnitedHealth Group   Data Scientist  ₹xx,xx,xxx /yr    3.7
6           Optum Global Solutions   Data Scientist  ₹xx,xx,xxx /yr    3.9
7               Valiance Solutions   Data Scientist   ₹x,xx,xxx /yr    4.1
8                    ZS Associates   Data Scientist  ₹xx,xx,xxx /yr      4
9                      EXL Service   Data Scientist  ₹xx,xx,xxx /yr    3.6
10                      Innovaccer   Data Scientist  ₹xx,xx,xxx /yr    3.8
11                           Optum   Data Scientist  ₹xx,xx,xxx /yr    3.6
12  Cognizant Technology Solutions   Data Scientist  ₹xx,xx,xxx /yr    3.8
13                       dunnhumby   Data Scientist  ₹xx,xx,xxx /yr    4.1
14              Vidooly Media Tech  Data Scientist      ₹xx,xxx /mo    3.7
15                   Tech Mahindra   Data Scientist  ₹xx,xx,xxx /yr    3.6
16                             OYO   Data Scientist  ₹xx,xx,xxx /yr    3.2
17                         Nagarro   Data Scientist   ₹x,xx,xxx /yr      4
18                       R Systems   Data Scientist  ₹xx,xx,xxx /yr    3.6
19                      CARS24.com   Data Scientist  ₹xx,xx,xxx /yr    4.2

Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location.

In [124]:
no_of_sal=[]
no_of_sal_=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-auto"]')
for i in no_of_sal_:
    no_of_sal.append(i.text)
no_of_sal

['17 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '11 salaries',
 '9 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries']

In [132]:
min_sal=[]
min_sal_=driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]/p')
for i in range (0,len(min_sal_),2):
    min_sal.append(min_sal_[i].text)

In [136]:
max_sal=[]
for i in range (1,len(min_sal_),2):
    max_sal.append(min_sal_[i].text)

In [138]:

j_sal=pd.DataFrame({"Company Name":j_company[:10],"No of Salary":no_of_sal[:10],"Salary":j_salary[:10],"Minimum Salary":min_sal[:10],"Maximum Salary":max_sal[:10]})

In [139]:
j_sal

,Company Name,No of Salary,Salary,Minimum Salary,Maximum Salary
0,Tata Consultancy Services,17 salaries,"₹6,15,289 /yr",₹3L,₹13L
1,IBM,15 salaries,"₹9,00,000 /yr",₹3L,₹13L
2,Accenture,14 salaries,"₹11,48,366 /yr",₹6L,₹27L
3,Ericsson-Worldwide,14 salaries,"₹x,xx,xxx /yr",₹6L,₹22L
4,Delhivery,14 salaries,"₹xx,xx,xxx /yr",₹xL,₹xxL
5,UnitedHealth Group,11 salaries,"₹xx,xx,xxx /yr",₹xL,₹xCr
6,Optum Global Solutions,9 salaries,"₹xx,xx,xxx /yr",₹xxL,₹xxL
7,Valiance Solutions,9 salaries,"₹x,xx,xxx /yr",₹xL,₹xxL
8,ZS Associates,8 salaries,"₹xx,xx,xxx /yr",₹xL,₹xxL
9,EXL Service,8 salaries,"₹xx,xx,xxx /yr",₹xL,₹xxL

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:

In [153]:
brand=[]
product_des=[]
price=[]
discount=[]

In [142]:
driver=webdriver.Edge("msedgedriver.exe")

In [143]:
url='https://www.flipkart.com/'
driver.get(url)

In [144]:
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()

In [149]:
driver.find_element_by_xpath('//input[@class="_3704LK"]').send_keys("Sunglasses")

In [150]:
driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [194]:
brand_=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in brand_:
    brand.append(i.text)

In [157]:
brand_url=[]
for i in driver.find_elements_by_xpath('//a[@class="ge-49M"]'):
    brand_url.append(i.get_attribute("href"))

In [164]:
brands=[]
for i in brand_url[:3]:
    driver.get(i)
    brands_=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in brands_:
        brands.append(i.text)

In [165]:
len(brands)

120

In [179]:
product_url=[]
for i in driver.find_elements_by_xpath('//div[@class="_1xHGtK _373qXS"]'):
    product_url.append(i.get_attribute("href"))

In [183]:
product_desc=[]
for i in brand_url[:3]:
    driver.get(i)
    product_des_=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in product_des_:
        product_desc.append(i.text)

In [184]:
len(product_desc)

120

In [190]:
for i in brand_url[:3]:
    driver.get(i)
    price_=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in price_:
        price.append(i.text)

In [191]:
len(price)

120

In [192]:
for i in brand_url[:3]:
    driver.get(i)
    discount_=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in discount_:
        discount.append(i.text)

In [193]:
len(discount)

120

In [197]:
act_price=[]
for i in brand_url[:3]:
    driver.get(i)
    act_price_=driver.find_elements_by_xpath('//div[@ class="_3I9_wc"]')
    for i in act_price_:
        act_price.append(i.text)

In [198]:
len(act_price)

120

In [ ]:
brand
product_desc price discount

In [201]:
fk=pd.DataFrame({"Brand":brands[:100],"Actual Price":act_price[:100],"Offer Price":price[:100],"Discount %":discount[:100],"Description":product_desc[:100]})

In [202]:
fk

,Brand,Actual Price,Offer Price,Discount %,Description
0,PIRASO,"₹1,999",₹329,83% off,"UV Protection, Gradient, Night Vision Retro Sq..."
1,ROYAL SON,"₹1,549",₹449,77% off,"UV Protection, Gradient Round Sunglasses (Free..."
2,PHENOMENAL,"₹1,999",₹265,79% off,UV Protection Wayfarer Sunglasses (55)
3,ROZZETTA CRAFT,₹899,₹379,81% off,"UV Protection, Mirrored Retro Square Sunglasse..."
4,PHENOMENAL,"₹1,299",₹399,74% off,"UV Protection, Riding Glasses Aviator Sunglass..."
...,...,...,...,...,...
95,GANSTA,"₹2,252",₹499,77% off,UV Protection Retro Square Sunglasses (Free Size)
96,Wrogn,"₹1,999",₹699,65% off,Polarized Rectangular Sunglasses (65)
97,ROZZETTA CRAFT,"₹2,499",₹687,72% off,"UV Protection, Gradient Over-sized, Round Sung..."
98,elegante,"₹1,999",₹399,80% off,Mirrored Round Sunglasses (Free Size)
99,AISLIN,₹945,₹188,80% off,"UV Protection, Night Vision, Riding Glasses Sp..."

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [203]:
driver=webdriver.Edge("msedgedriver.exe")

In [204]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [243]:
review=[]
short_reviews=[]
Ratings=[]

In [213]:
review_url=[]
for i in driver.find_elements_by_xpath('//a[@class="ge-49M"]'):
    review_url.append(i.get_attribute("href"))

In [254]:
for i in review_url:
    driver.get(i)
    short_review_=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i in short_review_:
        short_reviews.append(i.text)

In [255]:
len(short_reviews)

90

In [257]:
for i in review_url:
    driver.get(i)
    review_=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in review_:
         review.append(i.text)

In [258]:
len(review)

90

In [280]:
f_rating=[]
for i in review_url:
    driver.get(i)
    f_rating_=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in f_rating_:
         f_rating.append(i.text)

In [281]:
len(f_rating)

88

In [283]:
print(len(short_reviews),len(review),len(f_rating))

90 90 88

In [296]:
r_onee=pd.DataFrame({"Short Review":short_reviews[:88],"Full Review":review[:88],"Rating":f_rating[:88]})

In [297]:
r_onee

,Short Review,Full Review,Rating
0,Perfect product!,Iphone is just awesome.. battery backup is ver...,5
1,Highly recommended,What a camera .....just awesome ..you can feel...,5
2,Simply awesome,"Excellent camera, good performance, no lag. Th...",5
3,Worth every penny,It’s been almost a month since I have been usi...,5
4,Nice product,Awesome Phone. Slightly high price but worth. ...,4
...,...,...,...
83,Classy product,We are on apple ecosystem for almost eight yea...,5
84,Excellent,A perfect phone and a good battery super camer...,5
85,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...,3
86,Fabulous!,Product is nice at the deviled time the delive...,5
87,Does the job,phone is good but in display is 720p lcd in th...,5

In [222]:
one_s_review=[]
for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
    one_s_review.append(i.text)

In [223]:
len(one_s_review)

10

In [292]:
one_full_review=[]
for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
    one_full_review.append(i.text.replace("\n","  "))

In [293]:
len(one_full_review)

10

In [289]:
one_rating=[]
for i in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
    one_rating.append(i.text.replace("\n","  "))

In [290]:
len(one_rating)

10

In [228]:
one_rating

['5', '5', '5', '5', '5', '4', '5', '5', '5', '5']

In [294]:
r_one=pd.DataFrame({"Short Review":one_s_review,"Full Review":one_full_review,"Rating":one_rating})

In [295]:
r_one

,Short Review,Full Review,Rating
0,Brilliant,If you are looking for a premium phone under 5...,4
1,Perfect product!,"Awesome camera, smooth and fast UI, display is...",4
2,Great product,The best all rounder iphone. Flipkart is doing...,5
3,Worth every penny,We are on apple ecosystem for almost eight yea...,5
4,Fabulous!,A perfect phone and a good battery super camer...,5
5,Good choice,i was confused between 11 and 11 pro. i was go...,5
6,Highly recommended,Product is nice at the deviled time the delive...,5
7,Perfect product!,phone is good but in display is 720p lcd in th...,3
8,Perfect product!,Everything is perfect pictures come out so cle...,5
9,Highly recommended,I dreamt about this day from a long time.... G...,5

In [299]:
i_rating=r_one.append(r_onee,ignore_index=True)
i_rating

,Short Review,Full Review,Rating
0,Brilliant,If you are looking for a premium phone under 5...,4
1,Perfect product!,"Awesome camera, smooth and fast UI, display is...",4
2,Great product,The best all rounder iphone. Flipkart is doing...,5
3,Worth every penny,We are on apple ecosystem for almost eight yea...,5
4,Fabulous!,A perfect phone and a good battery super camer...,5
...,...,...,...
93,Classy product,We are on apple ecosystem for almost eight yea...,5
94,Excellent,A perfect phone and a good battery super camer...,5
95,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...,3
96,Fabulous!,Product is nice at the deviled time the delive...,5
97,Does the job,phone is good but in display is 720p lcd in th...,5

Since I couldnt able scrape all the data from rating I couldnt able to get 100 rows 
I have use exception method too but I couldn't able to scrape the all the values

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com

In [328]:
driver=webdriver.Edge("msedgedriver.exe")

In [329]:
url='https://www.flipkart.com/'
driver.get(url)

In [330]:
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()

In [331]:
driver.find_element_by_xpath('//input[@class="_3704LK"]').send_keys("sneakers")

In [332]:
driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [345]:
s_url=[]
for i in driver.find_elements_by_xpath('//nav[@class="yFHi8N"]/a'):
    s_url.append(i.get_attribute("href"))

In [357]:
brand=[]
product_desc=[]
price=[]
discount=[]

In [364]:

for i in s_url[:3]:
    driver.get(i)
    brand_=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in brand_:
         brand.append(i.text)

In [365]:
len(brand)

120

p_des=[]
for i in s_url:
    
    driver.get(i)
    try:
        p.des_=driver.find_element_by_xpath('//a[@class="IRpwTa"]')
        p.des.append(p.des_.text)
    except:
        p_des.append("--")

In [386]:
sneaker_description=[]
for i in s_url[:3]:
    driver.get(i)
    descriptions=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
    for description in descriptions:
        sneaker_description.append(description.text)

In [387]:
len(sneaker_description)

120

In [389]:
for i in s_url[:3]:
    driver.get(i)
    prices_=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in prices_:
        price.append(i.text)

In [390]:
len(price)

120

In [392]:
for i in s_url[:3]:
    driver.get(i)
    discount_=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in discount_:
        discount.append(i.text)

In [393]:
len(discount)

120

In [ ]:
brand=[]
sneaker_description=[]
price=[]
discount=[]

In [399]:
s=pd.DataFrame({'Brand':brand[:100],'Sneaker Description':sneaker_description[:100],'Price':price[:100],"Discount":discount[:100]})

In [400]:
s

,Brand,Sneaker Description,Price,Discount
0,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹448,₹1050 off
1,India hub,Fashionable casual sneakers shoes Sneakers For...,₹389,₹2610 off
2,KULP,Sneakers For Men,₹399,₹1248 off
3,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹748,₹600 off
4,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,₹377,₹621 off
...,...,...,...,...
95,Absolute comfort,Rockstyle Trending Multicolor Ultralight canva...,₹474,₹825 off
96,Ktiz,REDT Sneakers For Men,"₹1,386",₹2313 off
97,REEBOOT,Sneakers For Men,"₹1,687",₹1312 off
98,United Colors of Benetton.,Firm IDP Sneakers For Men,₹440,₹859 off
99,PUMA,Shoes For Boys Dance shoes Sneakers For Men,₹664,₹335 off

Q 8 scrape First 100 shoes data you get. The data should include “Brand” of
the shoes , Short Shoe description, price of the shoe

In [401]:
driver=webdriver.Edge("msedgedriver.exe")

In [402]:
url="https://www.myntra.com/shoes"
driver.get(url)

In [436]:
s_brandss=[]
s_des=[]
s_price=[]

In [405]:
driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]').click()

In [406]:
driver.find_element_by_xpath('//span[@data-colorhex="black"]').click()

In [451]:
m_url=[]
for i in driver.find_elements_by_xpath('//li[@class="pagination-number"]/a'):
    m_url.append(i.get_attribute("href"))
m_url

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=6',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=7',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=8',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=9',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=11',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0&p=12']

In [452]:
for i in m_url[:4]:
    driver.get(i)
    s_brand_=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for i in s_brand_:
        s_brandss.append(i.text)

In [453]:
len(s_brandss)

200

In [454]:
for i in m_url[:2]:
    driver.get(i)
    s_des_=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for i in s_des_:
        s_des.append(i.text)

In [455]:
len(s_des)

100

In [456]:
for i in m_url[:2]:
    driver.get(i)
    s_price_=driver.find_elements_by_xpath('//div[@class="product-price"]')  
    for i in s_price_:
        s_price.append(i.text)

In [457]:
len(s_price)

100

In [458]:
sneaker=pd.DataFrame({"Brand":s_brandss[:100],"Price":s_price[:100],"Description":s_des[:100]})

In [459]:
sneaker

,Brand,Price,Description
0,Nike,Rs. 11495,Men JORDAN DELTA Basketball
1,Nike,Rs. 12995,AIR ZOOM PEGASUS Running Shoes
2,Nike,Rs. 9999,Men KD13 EP Basketball Shoes
3,Nike,Rs. 10496Rs. 14995(30% OFF),Men JOYRIDE Running Shoes
4,Nike,Rs. 8396Rs. 11995(30% OFF),Women REACT Running Shoes
...,...,...,...
95,ROSSO BRUNELLO,Rs. 8999Rs. 9999(10% OFF),Men Textured Leather Loafers
96,Saint G,Rs. 11800,Leather Heeled Boots
97,Kenneth Cole,Rs. 7794Rs. 12990(40% OFF),Men Solid Leather Formal Loafers
98,Saint G,Rs. 8400,Women Heeled Leather Boots
99,Clarks,Rs. 7499,Men Leather Sneakers

Q10: scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:

In [3]:
driver=webdriver.Edge("msedgedriver.exe")

In [4]:
url='https://www.amazon.in/'
driver.get(url)

In [5]:
driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptop')

In [6]:
driver.find_element_by_xpath('//input[@type="submit"]').click()

In [13]:
driver.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a',).click()

In [8]:
driver.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a').click()

In [9]:
titles_=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')

In [10]:
titles=[]
for i in titles_:
    titles.append(i.text)

In [11]:
len(titles)

29

In [12]:
prices=[]
for i in driver.find_elements_by_xpath('//span[@class="a-price-whole"]'):
    if i.text is None:
        prices.append("No Data")
    else:
        prices.append(i.text)

In [481]:
len(prices)

22

In [489]:
ratings=[]
ratings_=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')  
for i in ratings_:
        ratings.append(i.get_attribute('aria-label'))

In [491]:
laptop=pd.DataFrame({"Title":titles[:10],"Price":prices[:10],"Ratings":ratings[:10]})

In [492]:
laptop

,Title,Price,Ratings
0,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...","97,990",4.2 out of 5 stars
1,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"54,999",4.4 out of 5 stars
2,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"84,990",4.5 out of 5 stars
3,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...","88,000",4.7 out of 5 stars
4,"Lenovo Ideapad 5 Intel i7 11th Gen 15.6"" Thin ...","83,990",5.0 out of 5 stars
5,(Renewed) ASUS ROG Strix Scar II GL504GM-ES155...,"1,18,992",4.1 out of 5 stars
6,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"86,990",3.8 out of 5 stars
7,"ASUS ROG Zephyrus Duo 15, 15.6"" 4K UHD, Intel ...","2,69,990",3.1 out of 5 stars
8,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"26,990",2.4 out of 5 stars
9,"Dell XPS 9570 15.6"" (39.62cms) UHD Laptop (8th...","2,49,990",3.8 out of 5 stars